body {
    background-color: #f8f8f8;
}

a {
    color: #636e72;
    transition: .5s all;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
    color: #ff7675;
}

#nav-search-text {
    margin: 0;
    padding: 8px 10px;

    border: 1px solid #e5e5e5;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;

    height: 32px;

    flex-grow:1;
    outline:medium;
}
#nav-search-btn {
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;

    background-color: #ff7675;
    height: 32px;
    width: 50px;

    color: white;
    transition: .5s all;
    outline:medium;
}
#nav-search-btn:hover {
    background-color: #d63031;
}

.banner-pic {
    height: 180px;
    width: 100%;

    background-image: url("/image/banner-pic.jpg");
    background-position: center;
    background-size: cover;

    overflow: hidden;
}

.class-title {
    margin-top: 30px;
    font-size: 18px; 
    font-weight: 700;
}

.video-entrance {
    
}

.video-cover {
    width: 100%;
    height: 140px;
    border-radius: 5px;
}
.video-title {
    margin-top: 5px;
}


.animate-dynamic > [class*='col-'] {
    padding-left: 0;
}